# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out
coverage
.turbo

# Flutter
**/.dart_tool
**/build
**/*.g.dart
**/*.freezed.dart
**/*.gen.dart
pubspec.lock

# Lock files (managed by package managers)
pnpm-lock.yaml
package-lock.json
yarn.lock

# Generated / binary
*.min.js
*.min.css
*.map

# Next.js generated
**/next-env.d.ts

# Strapi CMS generated
apps/cms/.cache
apps/cms/.strapi
apps/cms/.strapi-updater.json
apps/cms/build
apps/cms/dist
apps/cms/public/uploads
