PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/trangiadelivery?schema=public"
JWT_SECRET="super_secret_tran_gia_food_jwt_key_2026"
JWT_EXPIRATION="7d"
REDIS_HOST="localhost"
REDIS_PORT=6379
CORS_ORIGINS="*"
